$width: 861px;
$height: 400px;

canvas {
  min-width: $width !important;
  max-width: $width !important;
  width: $width !important;
  min-height: $height !important;
  max-height: $height !important;
  height: $height !important;
}
